/* @import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"); */

 :root {
 --gold-color: #EFC69B;
 --red-color: #AF1B3F;
 --dark-color: #473144;
 --body-font: Helvetica, Arial, sans-serif;
 --headline-font: Lora, Impact, serif; /* Why isn't this importing again :/ */
 }

 header {
    font: var(--headline-font);
    color: var(--dark-color);
 }

 h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 50px;
 }

 hr {
    border-top: 3px solid;
    color: var(--gold-color);
 }

 .main-nav {
    display: grid;
    grid-template-columns: 90px 90px 80px;

    justify-content: end;
    justify-items: end;
    color: var(--red-color);

    list-style-type: none;

    max-width: 260px;
    padding: 0;
    margin-left: 70%;
 }

 .main-nav li {
    padding: 20px 20px;
    font-size: 1.2em;
 }


.main-nav a {
    color: var(--red-color);
    text-decoration: none;
 }

.skiptocontent {
    position: absolute;
    top: -40px;
    background-color: var(--dark-color);
    color:var(--gold-color)
}

.skiptocontent a:focus {
    top: 0;
}

 body {
    font: var(--body-font);
 }

 main {
    display: grid;
    grid-template-columns: 2fr;
 }

 main article {
    grid-column: 1/2;

    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
 }

 #book-data-Magyk {
    grid-column: 1/2;
    grid-row: 1/2;
 }

 #book-showcase-Magyk {
    grid-column: 2/3;
    grid-row: 1/2;
 }

 #book-data-Magnus {
    grid-column: 1/2;
    grid-row: 2/3;
 }

 #book-showcase-Magnus {
    grid-column: 2/3;
    grid-row: 2/3;
 }

 .book-data {
    padding: 10px;
    margin-right: 50px 
 }

 .book-showcase {
    padding-left: 120px;
 }

 h2 {
    color: var(--red-color);
    font-size: 2em;
 }

 img {
    max-width: 250px;
    margin: 10px 0px 10px 30px;
 }
 

 main aside {
    grid-column: 2/3; 

 }