@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

 :root {
 --gold-color: #EFC69B;
 --red-color: #AF1B3F;
 --dark-color: #473144;
 --body-font: Helvetica, Arial, sans-serif;
 --headline-font: "Lora", Impact, serif; /* Why isn't this importing again :/ */
 }

 header {
    font: var(--headline-font);
    color: var(--dark-color);
 }

 h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 50px;
 }

 hr {
    border-top: 3px solid;
    color: var(--gold-color);
 }

 .main-nav {
    display: grid;
    grid-template-columns: 90px 90px 80px;

    justify-content: end;
    justify-items: end;
    color: var(--red-color);

    list-style-type: none;

    max-width: 260px;
    padding: 0;
    margin-left: 70%;
 }

 .main-nav li {
    padding: 20px 20px;
    font-size: 1.2em;
 }


.main-nav a {
    color: var(--red-color);
    text-decoration: none;
 }

.skiptocontent {
    position: absolute;
    top: -40px;
    background-color: var(--dark-color);
    color:var(--gold-color)
}

.skiptocontent a:focus {
    top: 0;
}

 body {
    font: var(--body-font);
    margin: 0;
 }

 main {
    display: grid;
    grid-template-columns: 2fr;
    margin-top: 30px;
 }

 main article {
    grid-column: 1/2;

    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
 }

 .date-published {
   font-size: 25px;
 }

 #article1 .book-data {
    grid-column: 1/2;
    grid-row: 1/2;
 }

 #article1 .book-showcase {
    grid-column: 2/3;
    grid-row: 1/2;
 }

 #article2 .book-data {
    grid-column: 1/2;
    grid-row: 2/3;
 }

 #article2 .book-showcase {
    grid-column: 2/3;
    grid-row: 2/3;
 }

 h4 {
   min-width: 121px;
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .book-data {
    padding: 10px 10px 10px 50px;
    margin-left: 50px;
    text-align: right; 
    border-right: 3px solid;
    border-color: var(--gold-color);
    max-width: 180px;
 }

 .book-data p {
   line-height: 0.5em;
 }

 .book-showcase {
    padding: 0px 20px 20px 20px;
    text-align: center;
 }

 .book-showcase h2{
   text-align: left;
 }

 .book-showcase p {
   text-align: left;
 }

 h2 {
    color: var(--red-color);
    font-size: 2em;
    margin-top: 13px;
 }

 img {
    max-width: 250px;
    /* margin: 10px 0px 10px 30px; */
 }
 

 main aside {
    grid-column: 2/3; 

 }

 #book-filter {
   border: 3px solid;
   border-color: var(--gold-color);
   margin-right: 50px;
   min-width: 280px;
 }

 .book-data, .book-showcase {
   margin-bottom: 30px;
 }